:root {
  --color-primary: #2ebc59;
  --color-bg: #2f2f2f;
  --color-board: white;
  --color-text: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: grid;
  place-items: center;

  min-height: 100vh;
  background: var(--color-bg);
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  color: var(--color-text);
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

.boards-container {
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.player h2 {
  margin-bottom: 2rem;
  font-size: 1.125rem;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 480px;
  height: 480px;
}

.cell {
  border: 1px solid var(--color-board);
  position: relative;
}

.gameboard:not(.hide) .cell.occupied,
.gameboard.hide .cell.occupied.cell.attacked {
  background-color: var(--color-primary);
}

.gameboard .cell.attacked::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  content: "";

  width: 8px;
  height: 8px;
  background-color: var(--color-board);
  border-radius: 50%;
}

.gameboard.clickable.hide .cell:not(.attacked):hover,
.gameboard.clickable .cell:not(.occupied):not(.attacked):hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.buttons {
  display: flex;
  gap: 2rem;
}

button {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 1rem;
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}

button[disabled] {
  background-color: gray;
}

button > svg {
  fill: white;
  width: 1rem;
  height: 1rem;
}

#game-text {
  height: 4rem;
}

.status {
  font-size: 1.125rem;
}

button:not([disabled]):hover {
  filter: brightness(90%);
}
